body{
    background-color: rgba(47, 185, 185, 0.705);
    background-repeat: no-repeat, no-repeat;
    background-size: 100%;
    display:block;
    overflow-y: auto;
        }
div.container {
    overflow-y: auto;
    max-width: 500px;
    margin: 100px auto;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    display:block;
    }



img{    
    max-width: auto;
    max-height: auto;  
}
input{
    
    display: inline;

}
label{
    text-align: center;
    display:block;
    background-color: auto;
}
p{
    border: 1px solid black;    
    text-align: center;
    
}