body {
    background-color: aquamarine;

}
div.container {
    max-width: 500px;
    margin: 100px auto;
    border: 20px solid white;
    padding: 10px;
    text-align: center;
}

img{
    margin-top: 0 auto;
    max-width: 400px;
    max-height: 300px;

}