<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/ico/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/static/padrao.css">

    <title>Cadastro </title>
</head>
<header>
    <div class="menu">
      <a class="link" href="index">Home</a>
      <a class="link" href="cadastro">Cadastro</a>
      <a class="link" href="sobre">O Projeto</a>
    </div>
</header>
<body>
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
       {% endfor %}

    <div class="container">
        <h1> Novo Cadastro!</h1>
        <form action="cadastro" class="container" method="post">
            <h1>Simulado da Prova Brasil</h1>
           <label>Instituição:</label>
           <input type="text" id="inst" name="inst" />
           <br>
           <label>Nome</label>
           <input type="text" id="nome" name="nome"/>
           <br>
           <label>Série escolar:</label>
           <input type="number" id="serie" name="serie" />
           <br><hr>
           <button type="submit">Enviar</button>           
       
           </form>
          
    </div>
   
       
    
</body>
</html>