<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/ico/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/static/padrao.css">

    <title>Cadastro </title>
</head>
<header>
    <a href="#" onclick="contrast()">Contrast</a>
    <a href="#" onclick="font_mais()">F+</a>
    <a href="#" onclick="font_menos()">F-</a>    
    <nav>           
        <a class=".logo" href="cadastro">SIMULADO PROVA BRASIL
           
        </a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="index">Home</a></li>
            <li><a href="cadastro">Cadastro</a></li>
            <li><a href="questoes">Questões</a></li>
            <li><a href="sobre">Sobre</a></li>
        </ul>
    </nav>
</header>
<main></main>
<body>
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
       {% endfor %}

    <div class="container">
        <h1> Novo Cadastro!</h1>
        <form action="cadastro"  method="POST" >
         <div class="form">
            <label>Escola: </label>
            <input type="text" id="inst" name="inst" required />
         </div>
         
           <div class="form">
            <label>Nome: </label>
            <input type="text" id="nome" name="nome" required/>
           </div>
           
           <div class="form">
            <label>Cidade: </label>
            <input type="text" id="cidade" name="cidade" required/>
           </div>
           

          
           <div class="form">
            <label>Série: </label>
           <input type="number" id="serie" name="serie" required />
           </div>
           
           <hr>
           <button type="submit">Enviar</button>       
       
           </form>
          
    </div>
    <div class="container">
        <h2> Cadastro voluntário para fins meramente estatisticos.</h2>
    </div>
    <script src="/static/js/acessibilidade.js"></script>
    <script src="/static/js/style.js"></script>       
    
</body>
</html>