<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/ico/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/static/padrao.css">
    <title>Resultado</title>
    
</head>
<header>
  <a class="titulo" href="index">
      <img class="titulo" src="/static/ico/favicon-16x16.png">SIMULADO PROVA BRASIL</img>
  </a>
  <div class="menu">
      <a class="link" href="index">Home</a>
      <a class="link" href="cadastro">Novo usuário</a>
      <a class="link" href="questoes">Nova questão</a>
      <a class="link" href="sobre">O Projeto</a>
  </div>
</header>
<body>
    <div class="container">
        <h1>Resultado Aqui!!!</h1>
    </div>
    
</body>
</html>