<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/ico/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/static/padrao.css">
    <title>Resultado</title>
    
</head>
<header>
    <a href="#" onclick="contrast()">Contrast</a>
    <a href="#" onclick="font_mais()">F+</a>
    <a href="#" onclick="font_menos()">F-</a>    
    <nav>           
        <a class=".logo" href="gabarito">SIMULADO PROVA BRASIL
           
        </a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="index">Home</a></li>
            <li><a href="cadastro">Cadastro</a></li>
            <li><a href="questoes">Questões</a></li>
            <li><a href="sobre">sobre</a></li>
        </ul>
    </nav>
</header>
<main></main>
<body>
   
    <!-- Mensagem -->
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
    <div class="container">        
        <h2> Gabarito</h2>
    </div>
    <div class="indice">
        {%for res in res%}
        <label> Questão</label>
        <h2>{{res['id']}}</h2>
        <h2>{{res['enunciado']}}</h2>
        <label>Resposta</label>
        <h2>{{res['valor']}}</h2> 
        {%endfor%}       
           
        {%if input%}
        <label> Alternativa Marcada </label>
       <h2 id="resultado">{{input}}</h2>
       {%endif%}
       
       
       
       <form action="{{url_for('delete',indice=indice)}}" method="POST">
        {%if indice%}
         <button type="submit"  action="{{indice['id']}}" onclick="return confirm('Você tem certeza que deseja DELETAR este registro?')">Deletar</button>
        {%endif%}        
       </form>    
                  
    </div>    

    <script src="/static/js/acessibilidade.js"></script>
    <script src="/static/js/style.js"></script>
    <script src="/static/js/control.js "></script>

</body>
    
</body>
</html>