<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/ico/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/static/padrao.css">
    <title>Revisão</title>    
</head>

<body>  
  <div class="container">
   <h2 style="display:block;">QUESTÕES  RESPONDIDAS.</2>
    <!--Questão-->      
    
    
        <form action="" method="POST">        
        <table>
            <tr>
                <th>Questão</th>
                <th>Enunciado</th>
                <th>Alternativa</th>
                <th>Registro</th>
            </tr>
            {%for res in res%} 
            <tr>
                <td>{{res['questao_id']}}</td>
                <td>{{res['questao_enunciado']}}</td>
                <td>{{res['alternativa']}}</td>
                <td>{{res['last_update']}}</td>
            </tr> 
            {%endfor%} 
        </table>               
        
        <hr>   
        <button type="submit" onclick="return alert('ENTREGAR a Prova?')">Enviar</button>
        </form>                    
    </div>  
        
  
    
    <script src="/static/js/acessibilidade.js"></script>
    <script src="/static/js/style.js"></script>
    <script src="/static/js/control.js"></script>
    
</body>
</html>
