<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/ico/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/static/padrao.css">
    <title>Gabarito</title>
</head>
<header>
    <a class="titulo" href="home"> 
        <img class="titulo" src="/static/ico/favicon-16x16.png">SIMULADO PROVA BRASIL</img>
      </a>
     <div class="menu">
          
      <a class="link" href="index">Home</a>
      <a class="link" href="cadastro">Cadastro</a>
      <a class="link" href="sobre">O Projeto</a>
    </div>
</header>
<body>
    <!-- Mensagem -->
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
       {% endfor %}

    <div class="container">
        <form action="/gabarito" method="POST">
        <h1>MATEMÁTICA 4a SÉRIE / 5o ANO – BLOCO 01 </h1>
        <h2> 01
            IT_038252
           João participou de um campeonato de judô na
           categoria juvenil, pesando 45,350kg. Cinco
           meses depois estava 3,150kg mais pesado e
           precisou mudar de categoria. Quanto ele estava
           pesando nesse período?
        </h2>
             <input type="radio" id="A" name="A" value="14,250kg">
           <label for="14,250kg">(A) 14,250kg</label><br>
           <input type="radio" id="B" name="B" value="40,850kg">
           <label for="40,850kg">(B) 40,850kg</label><br>
           <input type="radio" id="C" name="C" value="48,500kg">
           <label for="48,500kg">(C) 48,500kg</label><br>
           <input type="radio" id="D" name="D" value="76,450kg">
           <label for="76,450kg">(D) 76,450kg</label>

           <button type="submit"> Enviar </button>
        </form>       
    </div>
    
</body>
</html>
