<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/ico/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/static/padrao.css">
    <title>Resultado</title>    
</head>

<body>
   <h2 style="display:block;">RESULTADO FINAL.</2>
  
    <div class="container">       
        
        <table>
            {%if soma, quant, user%}
                       
            <tr>
                <th>Questoes Certas:</th>
           
                <td>{{soma}}</td>
            
                <th> Total de Questões:</th>
           
                <td>{{quant}}</td>
            </tr>
            {%endif%}
            <tr>               
                <th>Questão</th>
                <th>Enunciado</th>
                <th>Nota</th>
                <th>Registro</th>
            </tr>
            {%for resp in resp%}
            <tr>
                <td>{{resp['questao_id']}}</td>
                <td>{{resp['questao_enunciado']}}</td>
                <td>{{resp['nota']}}</td>
                <td>{{resp['last_update']}}</td>
            </tr>
            {%endfor%}
 
        </table>

       

     </div>  
     

   
    
  
    
    <script src="/static/js/acessibilidade.js"></script>
    <script src="/static/js/style.js"></script>
    
    
</body>
</html>
