<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/ico/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/static/padrao.css">
    <title>Página Não Disponivel.</title>
</head>

<body>
       <div class="container">

       
        <h2> Esta prova é composta pela série carregada.</h2>
        <br>
        <h2> A resposta esta disposta em multipla escolha. </h2>
        <br>
        <h2> O ideal seria que sua realização ocorresse sem consulta.</h2>
        <br>
        <h2>Esta versão esta adaptada a receber conteúdo com base nas normas da BNCC.</h2>
        <br>
        <h2> A prova pode ser desconectada a qualquer momento em Sair, sem risco de perder as respostas enviadas.</h2>
        <br>
        <h2>Falhas, sugestões, criticas ao software, por gentileza comunicar no menu Opção Sobre.</h2>
        <a href="/index"  class="discreto">Retorno</a>
    </div>
        
        
        
            
    <script src="/static/js/acessibilidade.js"></script>
    <script src="/static/js/style.js"></script>
</body>
</html>