<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/ico/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/static/padrao.css">
    <title>Cadastrar Novas Questões</title>
</head>
<header>
    <a href="#" onclick="contrast()">Contrast</a>
    <a  href="#" onclick="font_mais()">Fonte Mais</a>     
    <nav>           
        <a class=".logo" href="index">SIMULADO PROVA BRASIL
            
        </a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="index">Home</a></li>
            <li><a href="cadastro">Cadastro</a></li>
            <li><a href="questoes">Questões</a></li>
            <li><a href="sobre">Sobre</a></li>
        </ul>
    </nav>
</header>
<main></main>


<body>
    <!-- Mensagem-->
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}


    <div class="container">
    <h1>Cadastrar Novas Questões: </h1>
        <form action="questoes" method="POST" enctype="multipart/form-data">
            <div class="form">
            <label>Titulo</label>
            <input type="text" id="titulo" name="titulo" />
            </div>
            
            <div class="form">
                <label>Enunciado</label>
           <textarea id="enunciado" name="enunciado" rows="10" cols="50"></textarea>
            </div>
            <div class="form">
            <label>Imagem</label>
            <input type="file" id="imagem" name="imagem" accept="imagem/png,imagem/jpeg,imagem/jpg" />
            </div>         
            
            <div class="form">
            <label>A</label>
            <input type="text" id="a" name="a" />
            </div>
           <div class="form">
            <label>B</label>
            <input type="text" id="b" name="b" />
           </div>        
           
            <div class="form">
            <label>C</label>
            <input type="text" id="c" name="c" />
            </div>
            
            <div class="form">
             <label>D</label>
            <input type="text" id="d" name="d" />
            </div>
            
            <div class="form">
            <label>E</label>
            <input type="text" id="e" name="e" />
            </div>
            
            <hr>
            <button type="submit" >Enviar</button>
        </form>
    </div>

    <script src="/static/js/acessibilidade.js"></script>
    <script src="/static/js/style.js"></script>
</body>

</html>
