<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/ico/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/static/padrao.css">
    <title>Cadastrar Novas Questões</title>
</head>
<header>
    <a href="#" onclick="contrast()">Contrast</a>
    <a href="#" onclick="font_mais()">F+</a>
    <a href="#" onclick="font_menos()">F-</a>
    <nav>
        <a class=".logo" href="questoes">SIMULADO PROVA BRASIL

        </a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="index">Home</a></li>
            <li><a href="cadastro">Cadastro</a></li>
            <li><a href="questoes">Questões</a></li>
            <li><a href="sobre">Sobre</a></li>
        </ul>
    </nav>
</header>
<main></main>


<body>
    <!-- Mensagem-->
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}

    <!--Campo de Novas Questoes.-->
    <div class="container">
        <h1>Cadastrar Novas Questões: </h1>
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="form">
                <label for="competencia">Comptetências BNCC</label>

                <select id="competencia" name="competencia" >

                    <option value="Escolha">Escolha</option>

                    <option value="Conhecimento">1.Conhecimento</option>
                    <option value="Pensamento Cientifico, Critico e Criativo">2.Pensamento Científico, Crítico e
                        Criativo</option>
                    <option value="Repertorio Cultural">3.Repertório Cultural</option>
                    <option value="Comunicação">4.Comunicação</option>
                    <option value="Cultura Digital">5.Cultura Digital</option>
                    <option value="Trabalho & Projetod de Vida">6. Trabalho e Projeto de Vida</option>
                    <option value="Argumentação">7.Argumentação</option>
                    <option value="Autocinhecimento & Autocuidado">8.Autoconhecimento e Autocuidado</option>
                    <option value="Empatia & Cooperação">9.Empatia e Cooperação</option>
                    <option value="Responsabilidade & Cidadania">10.Responsabilidade e Cidadania</option>

                </select>

            </div>
            <div class="form">
                <label for="titulo">Area do Conhecimento</label>
                <select id="titulo" name="titulo">
                    <option value="Escolha">Escolha</option>
                    <option value="Linguagens">Linguagens</option>
                    <option value="Matematica">Matematica</option>
                    <option value="Ciências da Natureza">Ciências da Natureza</option>
                    <option value="Ciências Humanas">Ciências Humanas</option>
                </select>
            </div>

            <div class="form">
                <label>Enunciado</label>
                <textarea id="enunciado" name="enunciado" rows="10" cols="50" required> {{request.form['enunciado']}}</textarea>
            </div>

            <div class="form">
                <label>Imagem</label>
                <input type="file" id="imagem" name="imagem" />
            </div>

            {% if filename %}
            <div class="form">
                <img class="imagem" src="{{url_for('display',filename=filename)}}">
            </div>
            {%endif%}


            <div class="form">
                <label>A</label>
                <input type="text" id="a" name="a" value="{{request.form['a']}}" />
                <br>
                <label>Resposta</label>
                <input type="checkbox" id="valor" name="valor" value="a" />
            </div>
            <div class="form">
                <label>B</label>
                <input type="text" id="b" name="b" value="{{request.form['b']}}" />
                <br>
                <label>Resposta</label>
                <input type="checkbox" id="valor" name="valor" value="b" />
            </div>

            <div class="form">
                <label>C</label>
                <input type="text" id="c" name="c" value="{{request.form['c']}}" />
                <br>
                <label>Resposta</label>
                <input type="checkbox" id="valor" name="valor" value="c" />
            </div>

            <div class="form">
                <label>D</label>
                <input type="text" id="d" name="d" value="{{request.form['d']}}" />
                <br>
                <label>Resposta</label>
                <input type="checkbox" id="valor" name="valor" value="d" />
            </div>


            <hr>
            <button type="submit">Enviar</button>
           
        </form>
    </div>

    <script src="/static/js/acessibilidade.js"></script>
    <script src="/static/js/style.js"></script>
</body>

</html>