<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/ico/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/static/padrao.css">
    <title>Sobre</title>
    
</head>
<header>
    <a href="#" onclick="contrast()">Contrast</a>
    <a href="#" onclick="font_mais()">F+</a>
    <a href="#" onclick="font_menos()">F-</a>
    <nav>           
        <a class=".logo" href="sobre">SIMULADO PROVA BRASIL
            
        </a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="index">Home</a></li>
            <li><a href="cadastro">Cadastro</a></li>
            <li><a href="questoes">Questões</a></li>
            <li><a href="sobre">Sobre</a></li>
        </ul>
    </nav>
</header>
<main></main>
<body>
    <div class="container">
        <h2> Este é um projeto voluntário como parte de uma disciplina</h2>
        <h2> por nome: PROJETO INTEGRADOR 1.</h2>
        <table border: 1px solid white>
            <tr>
              <th>Integrante</th>
              <th>RA</th>
              <th>Polo</th>
              </tr>
            <tr>
              <td>Élcio Paulino de Souza</td>
              <td>2102369</td>
              <td>Marilia</td>
              </tr>
              <tr>
              <td>Giseli Boiam Dall’Antônia</td>
              <td>2105690</td>
              <td>Marilia</td>              
             <tr>
                <tr>
                    <td>Wandere Rosa Hayashida </td>
                    <td>2007338</td>
                    <td>Marilia</td>              
                   <tr>
                   </table>
    </div>
    <script src="/static/js/acessibilidade.js"></script>
    <script src="/static/js/style.js"></script>
</body>
</html>