<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/ico/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/static/padrao.css">
    <title>Sobre</title>
    
</head>
<header>
  <a class="titulo" href="index">
      <img class="titulo" src="/static/ico/favicon-16x16.png">SIMULADO PROVA BRASIL</img>
  </a>
  <div class="menu">
      <a class="link" href="index">Home</a>
      <a class="link" href="cadastro">Novo usuário</a>
      <a class="link" href="questoes">Nova questão</a>
      <a class="link" href="sobre">O Projeto</a>
  </div>
</header>
<body>
    <div class="container">
        <h2> Este é um projeto voluntário como parte de uma disciplina</h2>
        <h2> por nome: PROJETO INTEGRADOR 1.</h2>
        <table border: 1px solid white>
            <tr>
              <th>Integrante</th>
              <th>RA</th>
              <th>Polo</th>
              </tr>
            <tr>
              <td>Élcio Paulino de Souza</td>
              <td>2102369</td>
              <td>Marilia</td>
              </tr>
              <tr>
              <td>Giseli Boiam Dall’Antônia</td>
              <td>2105690</td>
              <td>Marilia</td>              
             <tr>
                <tr>
                    <td>Wandere Rosa Hayashida </td>
                    <td>2007338</td>
                    <td>Marilia</td>              
                   <tr>
                   </table>
    </div>
    
</body>
</html>