<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/ico/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/static/padrao.css">
    <title>Sobre</title>
    
</head>
<header>
     <div class="menu">

      <a class="link" href="index">Home</a>
      <a class="link" href="cadastro">Cadastro</a>
      <a class="link" href="sobre">O Projeto</a>
    </div>
</header>
<body>
    <div class="container">
        <h2> Este é um projeto voluntário como parte de uma disciplina</h2>
        <h2> por nome: PROJETO INTEGRADOR 1.</h2>
    </div>
    
</body>
</html>